<!DOCTYPE html>
<link href="/css/style.css" rel="stylesheet">

<% layout('layout3') %>

    <div class="container">
        <header class="navbar navig position" >
            <a href="#mainContent" class="skipLink">Jump to main content</a>
            <nav role="navigation">
               <div class="menu-icon1 menu-icon">
                  <i class="fa fa-bars fa-2x"></i>
               </div>
                  <div>
                     <a class="logo" href="/">Green Thumbs</a>
                  </div>
                  <div class="menu">
                     <ul>
                        <li><a href="/about">Climate Change Awareness</a></li>
                        <li><a href="/reviews">Reviews</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/signup">Sign Up</a></li>
                     </ul>
                  </div>
               </nav>
         </header>
        <div id="page-content-wrapper" class="loc-font" role="main" >
            <div class="bodyDiv">
                <h2 tabindex="0">Organizations</h2>
                <hr/>
                <% for (var i=0; i < data.length; i++) { %>
                    <div class="col-xs-12 col-md-6 col-lg-4 organizationListDiv">
                        <div class="organization-info-container">
                            <a href="/organizationprofile/<%= data[i]._id %>">
                                <img src="/uploads/<%= data[i].image %>" class="organizationListItemLogo"
                                    alt="Company logo">
                                <div class="organizationListItemInfo">
                                    <h5>
                                        <%= data[i].name %>
                                    </h5>
                                    <span><i class="thumb"></i>*****</span><br>
                                    <i class="fa fa-building-o">
                                       <span class="loc-font"><%= data[i].sector %></span> 
                                    </i>
                                    <br>
                                    <i class="fa fa-map-marker">
                                        <span class="loc-font"><%= data[i].city %>, <%= data[i].country %></span>
                                    </i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <% } %>
            </div>
            <form action="" method="post" role="form">
                <div class="form-group ">
                    <input id="" class="form-control" name="search" type="text" placeholder="Type company name" style="margin-bottom:20px;">
                </div>

                <div class="form-group">
                    <input type="submit" id="search" value="Search" class="form-control button-ting">
                </div>
            </form>
        </div>
    </div>